.container-fluid {
  max-width: 1340px; }

.navbar-expand {
  padding: 0; }

.btn {
  border-radius: 100px; }
  .btn:focus {
    box-shadow: none; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?gxc0ci");
  src: url("../fonts/icomoon.eot?gxc0ci#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?gxc0ci") format("truetype"), url("../fonts/icomoon.woff?gxc0ci") format("woff"), url("../fonts/icomoon.svg?gxc0ci#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-gamepad:before {
  content: "\e902"; }

.icon-developer_mode:before {
  content: "\e901"; }

.icon-pencil:before {
  content: "\e900"; }

.icon-file-text2:before {
  content: "\e926"; }

.icon-appleinc:before {
  content: "\eabe"; }

.icon-android:before {
  content: "\eac0"; }

html {
  font-size: 16px; }

body {
  font-family: 'Poppins', sans-serif; }

a:hover {
  text-decoration: none; }

.top-nav-wrap {
  font-weight: 600;
  font-size: 1rem; }

.nav-item-link {
  color: #000;
  transition: ease 0.2s; }

.nav-item:hover .nav-item-link {
  transition: ease 0.2s;
  color: #0057ff;
  text-shadow: 0 0 1px #379BB9; }

.header-buttons-wrapper .transparent-button {
  color: #0057ff; }
  .header-buttons-wrapper .transparent-button:last-of-type {
    color: #0dd502; }

.transparent-button {
  font-weight: 500;
  font-size: 1rem; }

.title-caption-1 {
  font-size: 2.8rem; }

.title-caption-2 {
  font-size: 3.5rem; }

.filled-button {
  margin-top: 30px;
  color: white;
  padding: 10px 40px; }
  .filled-button:hover {
    color: #0057ff;
    box-shadow: 0 0 30px -8px rgba(0, 0, 0, 0.4); }

.about-text {
  font-weight: 400; }

.help-caption {
  font-size: 2.5rem;
  font-weight: 700; }

.help-section {
  color: white; }

.sub-menu-wrap {
  text-transform: initial;
  white-space: nowrap; }

.sub-menu-link {
  line-height: 1;
  font-weight: 400;
  font-size: .9rem;
  color: #000;
  transition: ease 0.5s;
  border-bottom: 1px solid #e0e0e0; }
  .sub-menu-link:hover {
    color: #0057ff;
    transition: ease 0.5s;
    background-color: rgba(89, 141, 255, 0.1); }

.another-text-color {
  color: #0057ff; }

.title-caption-3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px; }

.services-description-caption {
  font-size: 1.4rem; }

.portfolio-item-caption {
  font-weight: 600;
  font-size: 1.2rem; }

.footer-wrap {
  font-size: .8rem; }

.footer-list-title {
  font-size: 1.2rem; }

.footer-link {
  color: #000; }
  .footer-link i {
    padding-right: .4rem;
    color: #0057ff; }
  .footer-link:hover {
    color: #0057ff; }

.footer-contacts {
  color: #000;
  font-size: 1rem; }
  .footer-contacts:hover {
    color: inherit; }
  .footer-contacts i {
    margin-right: .5em;
    color: #0057ff;
    font-size: 1.2rem; }

.contacts-section .title-caption-3 {
  color: white; }

.header-wrapper {
  padding: 15px 0;
  background-color: #fff;
  transition: ease .3s; }

.header-active {
  padding: 0;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.75);
  transition: ease .3s; }

.nav-item {
  margin: 8px 14px;
  cursor: pointer; }
  .nav-item:hover .sub-menu-wrap {
    transition: ease 0.2s;
    top: 100%;
    pointer-events: initial;
    opacity: 1; }

.transparent-button {
  border: 2px solid #0057ff; }
  .transparent-button:last-of-type {
    border: 2px solid #0dd502; }
  .transparent-button:hover {
    background-color: #0057ff;
    color: white; }
    .transparent-button:hover:last-of-type {
      background-color: #0dd502; }

.header-buttons-wrapper .fa-phone {
  font-size: 14px;
  margin-left: 5px; }

.sub-menu {
  border-radius: 5px;
  border: 1px solid #000; }
  .sub-menu:after {
    display: block;
    z-index: -1;
    position: absolute;
    content: "";
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.sub-menu-wrap {
  padding-top: 15px;
  pointer-events: none;
  overflow: hidden;
  top: calc(100% - 15px);
  left: 50%;
  transform: translateX(-50%);
  transition: ease 0.2s;
  opacity: 0; }

.sub-menu-link {
  display: block;
  padding: 10px; }

.nav-item-link i {
  margin-left: .1rem; }

.main-banner-img-wrapper {
  padding: 45px; }

.title-section {
  padding: 106px 0 10px; }

.filled-button {
  border: 1px solid #0057ff;
  background-color: #0057ff; }
  .filled-button:hover {
    background-color: transparent; }

.about-section {
  padding: 60px 0;
  background-color: #ebefe6; }

.help-section {
  background-image: url("../img/blue_img-2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 70px 0; }

.help-caption {
  margin-bottom: 20px; }

.help-text-wrapper {
  padding: 0 50px; }

.services-section, .portfolio-section, .clients-section, .contacts-section {
  padding: 75px 0; }

.services-item {
  padding: 20px;
  display: flex; }

.services-description-caption {
  margin-bottom: 25px; }

.services-item-icon-wrapper i {
  font-size: 50px;
  color: #379BB9;
  text-shadow: 0 0 15px rgba(48, 40, 185, 0.47); }

.services-description-wrapper {
  margin-left: 20px; }

.clients-section {
  background-color: #ebefe6; }
  .clients-section .custom-navs-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2%; }
    .clients-section .custom-navs-wrap .custom-nav {
      cursor: pointer;
      display: inline-flex; }
  .clients-section .clients-carousel-wrap {
    width: 96%; }

.portfolio-item-img-wrap {
  transform: scale(1);
  transition: ease .5s; }

.portfolio-section .portfolio-item-caption {
  transition: ease .5s;
  padding: 10px 0;
  position: absolute;
  bottom: -10%;
  width: 90%;
  opacity: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  transform: perspective(500px) rotateX(90deg); }

.portfolio-section .portfolio-item-wrap {
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer; }
  .portfolio-section .portfolio-item-wrap:hover .portfolio-item-caption {
    opacity: 1;
    bottom: 0;
    width: 100%;
    transform: perspective(500px) rotateX(0);
    transition: ease .5s; }
  .portfolio-section .portfolio-item-wrap:hover .portfolio-item-img-wrap {
    transform: scale(0.8);
    transition: ease .5s; }

.portfolio-section .filled-button .fa-long-arrow-alt-right {
  font-size: .9em;
  padding: 0 0 0 .6em; }

.contacts-section {
  background-color: #0057ff; }
  .contacts-section .form-wrap {
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.42); }
  .contacts-section .form-control {
    height: 3rem; }
    .contacts-section .form-control::placeholder {
      font-size: .8rem;
      font-weight: 500; }
  .contacts-section #input-message {
    height: 8rem;
    resize: none; }
  .contacts-section .transparent-button {
    padding: 6px 40px;
    border-color: #0057ff;
    color: #0057ff; }
    .contacts-section .transparent-button:hover {
      background-color: #0057ff;
      color: white; }
  .contacts-section .map-wrap {
    height: 100%;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.42);
    background-color: white; }
  .contacts-section .invalid-input {
    box-shadow: 0 0 0 0.1rem rgba(255, 0, 2, 0.5); }

.footer-wrap {
  padding: 75px 0 60px;
  background-color: #ebefe6; }

.footer-logo-wrap {
  margin-bottom: 30px; }

.footer-link-wrap {
  padding: 15px 0; }

.footer-list-title {
  margin-bottom: 20px; }

.footer-link {
  position: relative;
  transition: ease-in-out 0.3s; }
  .footer-link:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    opacity: 0;
    bottom: -.8em;
    border-bottom: 1px solid #0057ff;
    transition: ease-in-out .3s;
    transform: translateX(-50%);
    left: 50%; }
  .footer-link:hover {
    transition: ease-in-out 0.3s; }
    .footer-link:hover:after {
      transition: ease-in-out 0.3s;
      opacity: 1;
      bottom: -.2em;
      width: 100%; }

.footer-contacts {
  margin: 10px 0; }
