$hover-text-and-button-header-color: #0057ff;
$call-button-color: #0dd502;
$nav-font-color: #000;
$background-sections-color: #ebefe6;

$header-hover-transition: ease .5s;
$sub-menu-transition: ease .2s;